__pycache__
module/__pycache__/
learned_weight/*
!learned_weight/.empty
captured_image/*
!captured_image/.empty
!captured_image/tmp/.empty
testimages/*
!testimages/.empty
venv
node_modules/python-shell/*
package-lock.json

